* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #dfe5ec;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 320px;
    background: #ffffff;
    border-radius: 20px;
    overflow: hidden;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
}

.card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.content {
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.tags {
    display: flex;
    gap: 10px;
}

.tags span {
    background: #f1f3f6;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 12px;
    color: #555;
}

h2 {
    font-size: 22px;
    color: #1f2937;
}

p {
    font-size: 14px;
    color: #6b7280;
    line-height: 1.5;
}

button {
    align-self: center;
    padding: 10px 25px;
    border: none;
    border-radius: 25px;
    background: #dbeafe;
    color: #2563eb;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #bfdbfe;
}