body{
background:black;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
font-family:Arial;
}

.calculator{
display:grid;
grid-template-columns:repeat(4,80px);
grid-auto-rows:80px;
gap:10px;
}

.display{
grid-column:1/5;
color:white;
font-size:50px;
text-align:right;
padding:20px;
}

button{
border:none;
border-radius:50%;
font-size:24px;
color:white;
}

.dark{
background:#333;
}

.gray{
background:#a5a5a5;
color:black;
}

.orange{
background:#ff9f0a;
}

.zero{
grid-column:1/3;
border-radius:40px;
}