*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 400px;
    height: 300px;
    background: #62374e;
    position: relative;
}

.square{
    width: 50px;
    aspect-ratio: 1 / 1;
    background: #fdc57b;
    position: absolute;
}

.sq1{
    top: 50px;
    left: 50px;
}

.sq2{
    top: 50px;
    right: 50px;
}

.sq3{
    bottom: 50px;
    left: 50px;
}

.sq4{
    bottom: 50px;
    right: 50px;
}