* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    width: 400px;
    height: 300px;
    background: #191919;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 20px solid #191919;
}

.box{
    width: 220px;
    height: 40px;
    display: flex;
    gap: 20px;
}

.circle{
    width: 40px;
    aspect-ratio: 1 / 1;
    background: #F6E59C;
    border-radius: 50%;
}