*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 400px;
    height: 300px;
    background: #6592CF;
    position: relative;
}

.box{
    width: 300px;
    height: 150px;
    background: #243D83;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.circle1{
    width: 250px;
    aspect-ratio: 1 / 1;
    background: #6592CF;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.circle2{
    width: 150px;
    aspect-ratio: 1 / 1;
    background: #243D83;
    border-radius: 50%;
     position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.circle3{
    width: 50px;
    aspect-ratio: 1 / 1;
    background: #EEB850;
    border-radius: 50%;
     position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}
    