* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 400px;
    height: 300px;
    position: relative;
    background: #0D1335;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.c1{
    width: 250px;
    height: 110px;
    border: 10px solid #FBFAE2;
    border-radius: 50%;
}

.c2{
     width: 250px;
    height: 110px;
    border: 10px solid #4FA07B;
    border-radius: 50%;
    rotate: 120deg;
}

.c3{
     width: 250px;
    height: 110px;
    border: 10px solid #DC6638;
    border-radius: 50%;
    rotate: -120deg;
}

.circle{
    width: 40px;
    aspect-ratio: 1 / 1;
    background: #73C6EA;
    border-radius: 50%;
    
}
