* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    background: #F8F8F8;
    width: 400px;
    height: 300px;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.wrap {
    display: flex;
}
.w1 {
    justify-content: space-between;
}
.w2 {
    flex-direction: column;
    gap: 20px;
}
.w3 {
    gap: 10px;
    justify-content: space-between;
}
.rect {
    width: 40px;
    height: 50px;
    background: #787885;
}
.line {
    width: 100%;
    height: 10px;
    background: #787885;
}
.cascade {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.small {
    width: 75px;
    height: 10px;
    background: #787885;
}
.big {
    flex-grow: 1;
    background: #787885;
}