*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 400px;
    height: 300px;
    background: #62306D;
    position: relative;
}

.box{
    width: 100px;
    height: 100px;
    background: #F7EC7D;
    position: absolute;

}

.b1{
    top: 150px;
    left: 50px;
    border-radius: 0 0 100% 100%;
}

.b2{
    top: 50px;
    left: 150px;
    border-radius: 100% 100% 0 0;
}

.b3{
    top: 150px;
    right: 50px;
    border-radius: 0 0 100% 100%;
}