.box{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid black;
    position: relative;
    width: 600px;
    height: 600px;
}

.p1{
    margin: 0;
    padding: 0;
    position: absolute;
    border: 2px solid green;
    width: calc(100% /3*2);
    height: calc(100% / 3 * 1);
    top: 0;
    left: 0;
    box-sizing: border-box;

}

.p2{
    margin: 0;
    padding: 0;
    position: absolute;
    border: 2px solid red;
    width:calc(100% / 3 * 1);
    height:calc( 100% / 3 * 2);
    right: 0;
    top: 0;
    box-sizing: border-box;
    
}

.p3{
    margin: 0;
    padding: 0;
    position: absolute;
    border: 2px solid blue;
   width: calc(100% /3*2);
    height: calc(100% / 3 * 1);
    bottom: 0;
    right: 0;
    box-sizing: border-box;
}

.p4{
   margin: 0;
   padding: 0;
   position: absolute;
   border: 2px solid black;
   width:calc(100% / 3 * 1);
    height:calc( 100% / 3 * 2);
    bottom: 0;
    left: 0;
    box-sizing: border-box;
   
}

.p5{
    margin: 0;
    padding: 0;
    position: absolute;
    border: 2px solid rgb(255, 255, 0);
    aspect-ratio: 1 / 1;
    width: calc(100% / 3);
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

}