.div1{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 200px;
    height: 200px;
    border: 10px solid rgb(255, 0, 0);
    border-style: dashed;
    border-right-style: inset;
    border-bottom-style: inset;
    border-left-color:black;
    border-top-color: rgb(0, 0, 0);
    border-radius: 0% 0% 50% 0%;
}
.div2{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 150px;
    height: 150px;
    border: 10px solid black;
    border-radius: 0% 0% 50% 0%;
}
.div3{
   box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100px;
    height: 100px;
    border: 10px solid rgb(54, 202, 9);
    border-radius: 50% 0%;
}

.position {
    padding: 1px;
    border: 5px solid black;
}
.position > div {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0008;
    margin: 1px;
    color: #fff;
    font-family: ;
}

.sticky{
    position: sticky;
    
}

.div4{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 200px;
    height: 200px;
    border: 5px solid blue; 
    border-radius: 0 50%;
}
.div5{ 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100px;
    height: 100px;
    border: 5px solid black;
    background-color: red;
    border-radius: 50%;
    border-style: dashed;


}

