.box{
    margin: 0;
    padding: 0;
    aspect-ratio: 1/1;
    width: 500px;
    
    box-sizing: border-box;
    position: relative;
    background: transparent;
    overflow: hidden;
}

.circle1{
    margin: 0;
    padding: 0;
    aspect-ratio: 1/1;
    width: 100%;
    position: absolute;
    border: 4px solid black;
    border-radius: 50%;
    top: -50%;
    left: -50%;
    box-sizing: border-box;
    border-color: transparent tra
}

.circle2{
      margin: 0;
    padding: 0;
    aspect-ratio: 1/1;
    width: 100%;
    position: absolute;
    border: 4px solid black;
    border-radius: 50%;
    top: -50%;
    right:  -50%;
    box-sizing: border-box;
}

.circle3{
      margin: 0;
    padding: 0;
    aspect-ratio: 1/1;
    width: 100%;
    position: absolute;
    border: 4px solid black;
    border-radius: 50%;
    bottom: -50%;
    left: -50%;
    box-sizing: border-box;
}

.circle4{
     margin: 0;
    padding: 0;
    aspect-ratio: 1/1;
    width: 100%;
    position: absolute;
    border: 4px solid black;
    border-radius: 50%;
    bottom: -50%;
    right: -50%;
    box-sizing: border-box;
    border-right-color: transparent 
}