.box{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    border: 1px solid black;
    position: relative;
    aspect-ratio: 1 / 1;
    width: 410px;
    height: 410px;
}

.p1{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 5px solid rgb(255, 255, 255);
    width: 200px;
    height: 200px;
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;

}

.p2{
   margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 5px solid white;
    width: 200px;
    height: 200px;
    background-color: green; 
    position: absolute;
    top: 0;
    right: 0;
}

.p3{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 5px solid white;
    width: 200px;
    height: 200px;
    background-color: blue;
    position: absolute;
    bottom: 0;
}

.p4{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 5px solid black;
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 0;
    right: 0;
    position: ;
    
}

.p5{
    margin: 95px;
    padding: 0;
    box-sizing: border-box;
    border: 5px solid yellow;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
    translate: -50% -50%;

}