* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  background: #de3832;
  width: 400px;
  height: 300px;
  position: relative;
}

.rect {
  position: absolute;
  background: #33499f;
  border: 15px solid #ffffff;
}

.r1 {
  width: 125px;
  height: 125px;
  border-width: 0 15px 15px 0;
  top: 0;
  left: 0;
}
.r2 {
  width: 225px;
  height: 125px;
  border-width: 0 0 15px 15px;
  top: 0;
  right: 0;
}
.r3 {
  width: 225px;
  height: 125px;
  border-width: 15px 0 0 15px;
  bottom: 0;
  right: 0;
}
.r4 {
  width: 125px;
  height: 125px;
  border-width: 15px 15px 0 0;
  left: 0;
  bottom: 0;
}
