* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    width: 400px;
    height: 300px;
    background: #0B2429;
}

.patker{
    position: absolute;
    width: 150px;
    aspect-ratio: 1 / 1;
    border-radius: 70% 0;
}

.p1{
    background: #1A4341;
    top: 75px;
    left: 75px;
}

.p2{
    background: #998235;
    top: 75px;
    left: 125px;
}

.p3{
    background: #F3AC3C;
    left: 175px;
    top: 75px;
}