*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 400px;
    height: 300px;
    background: #5d3a3a;
}

.scuare{
    width: 200px;
    aspect-ratio: 1 / 1;
    background: #b5e0ba;
}